{%extends  'father_template.html'%}
{%block title%} Home Page {%endblock%}
{%block style%}
    <link rel="stylesheet" href="../static/css/styles.css">
{%endblock%}

{%block main%}


<div class="welcome" style="background-image: url('./static/assets/img/back3.jpg')">
<div class="container" >
    <div class="row text-center" style="padding-top: 200px" >
        <div class="">
        <h1 class="display-1 fw-bold ">Welcome!</h1>
            </div>
        <div class="my-5 pb-5">
            <p>Artur's marketplace it is the best place to buy used stuff ever!</p>
        </div>
    </div>
</div>
</div>

<div class="my-5">
<hr/>
<h2 class="my-5  display-5 fw-bold text-center">My working space below for SALE!</h2>
    <hr/>
</div>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="./static/assets/img/items_for_sale/full_table_2.jpg" alt="picture of full computer desk with items on it" width="756" height="690">
    <h1 class="display-5 fw-bold text-body-emphasis">You can buy these items!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Be faster! There are many of potential buyers</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{url_for('display_items')}}"><button type="button" class="btn btn-info btn-lg px-4 gap-3">Look into</button></a>

      </div>
    </div>
  </div>


{%endblock%}
