{%extends 'father_template.html'%}
{% from "bootstrap5/form.html" import render_form %}
{%block title%}Register Page{%endblock%}

{%block main%}
{%block style%}
<link rel="stylesheet" href="./static/css/styles.css">
{%endblock%}


<div class="container">
    <h1 class="Login">Register page</h1>
    <hr>
    <div class="row">

        <div class="col-lg-4 offset-4">
            {{ render_form(form,novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>
</div>




{%endblock%}



